*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    margin-right: 20px;
}

.navbar{
    background: linear-gradient( #96cdbf ,rgba(10, 158, 158, 0));
}

.container img{
    display: flex;
    justify-content: flex-end;
}