
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .navcontainer{
        width: 100vw;
        /* background-color: rgba(29, 207, 145, 0.846); */
        /* background-color: #0093E9; */
        /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
         
        min-height: 80px;
    }
    .container{
        height: 100%;
        width: 100vw;
        overflow-x: none;
        background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

    }
    #navlist{
        list-style: none;
        font-size: 1.9rem;
        display: flex;
        align-items: center; 
        /* position: relative; */
        justify-content: center; 
        justify-content: space-between; 
    }
    #logo, #navitems{
        margin-top: 15px;
        margin-left: 10px;
    }
    a{
        text-decoration: none;
        color: azure;
    }
    #logo{
        font-size: 2.6rem;
        /* color: azure; */
        color: #F6F1F1;
        /* font-family: "Oi", serif; */
        font-family: "Bruno Ace SC", sans-serif;
        margin: 20px;
    }
    #navitems{
        display: flex;
        gap: 50px;
        margin-right: 30px;
        font-family: "Rubik Dirt", system-ui;
        transition: all 0.2s 0.5s ease;

    }
    /* #navitems a:hover{ */
        /* border: 0.5px solid white; */
        /* border-radius: 15px; */
        /* padding: 7px; */
        /* padding-bottom: 30px; */
    /* } */
    .pink {
        color :#FAACA8;
        background-color: #784BA0;
    }
    .footerbox{
         min-height: 50px;
        width: 100%;
        /* background-color: #0093E9; */
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
        
        /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
       align-items: center; 
       display: flex;
       justify-content: center;
       font-size: 1.5rem;
        
    } */
    .containerbox{
        /* background-color: #fff; */
        background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
        
        margin: auto;
        width: 90%;
        /* border-left: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 20px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .items{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 70px;  
        gap: 30px;   
    }
    .rightitems img{
        height: 400px;
        border-radius: 20px;
        transition: all 0.6s  linear;
        box-shadow: rgba(6, 61, 85, 0.12) 0px 2px 4px 0px, rgba(15, 95, 129, 0.32) 0px 2px 16px 0px;;
        
    }
    .rightitems img:hover{
        transform: scale(1.1);
    }
    .leftitems{
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-family: "Kanit", sans-serif;
    }
    section h2{
        font-size: 30px;
    }
    .recipes,.ingbox{
        font-size: 18px;
    }
    .name{
        font-size: 40px;
        margin: auto;
        text-decoration: underline;
    }
    
